// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn--kensaku,
a.btn--kensaku {
  color: #black;
  background-color:#FFFFFF ;
  border: 1px solid #000;
  width: 200px;
  height: 30px;
}

.btn--kensaku2,
a.btn--kensaku2 {
  color:#FFFFFF ;
  background-color:#808080 ;
  width: 100px;
  height: 30px;
  text-align: center;
}

.btn--shousai,
a.btn--shousai {
  color:#white ;
  background-color:#FF3366 ;
  width: 60px;
}

.pu-doru_field{
  width: 150px;
  height: 100px;
}

.phone_field{
  width:50px;
}

.calendar_field{
  width:200px;
}

a.btn-border {
  border: 2px solid #000;
  border-radius: 1;
  background: #fff;
  width: 200px;
}

.btn--red2,
a.btn--red2 {
  color: #FFFFFF;
  background-color: #FF3366;
  width: 200px;
}

.btn--blue2,
a.btn--blue2 {
  color: #FFFFFF;
  background-color: #3366FF;
  width: 200px;
}

.btn--blue3,
a.btn--blue3 {
  color: #FFFFFF;
  background-color: #33FFFF;
  width: 200px;
}

.koe_field{
  width:50px;
}

.btn--black,
a.btn--brack {
  color: #FFFFFF;
  background-color:#111111 ;
  width: 100px;
}
