// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login{
  background-color: #FF3366;
  color: #FFFFFF;
  width:100px;
}

.login_form{
  width:200px;
  height: 30px;
}
